body {
    font-family: 'Muli', sans-serif;
}

.card {
    background-color: #cad2c5;
}

h1 {
    color: #fff;
    padding-bottom: 2rem;
    font-weight: bold;
}

a {
    color: #333;
}

    a:hover {
        color: #52796f;
        text-decoration: none;
    }

.form-control:focus {
    color: #000;
    background-color: #fff;
    border: 2px solid #52796f;
    outline: 0;
    box-shadow: none;
}

.btn {
    background: #fff;
    border: 0.1px solid gray;
    outline: 0;
    box-shadow: none;
    color: #000;
}

    .btn:hover {
        background: #52796f;
        border: #52796f;
    }
