.container {
    text-align: center;
    width: 300px;
    height: 200px;
    padding-top: 100px;
}

#btn {
    font-size: 25px;
}


#wrapper {
    border: 1px solid blue;
}

.element {
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px
}
